/*

██╗    ██╗ █████╗ ██╗   ██╗██████╗  █████╗ ██████╗ 
██║    ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
██║ █╗ ██║███████║ ╚████╔╝ ██████╔╝███████║██████╔╝
██║███╗██║██╔══██║  ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
╚███╔███╔╝██║  ██║   ██║   ██████╔╝██║  ██║██║  ██║
 ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

Waybar Config File by Arfan Zubi

*/

@import url("./mocha.scss");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  color: @text;
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces,
#workspaces button,
#workspaces button.active,
#workspaces button:hover {
  border-radius: 1.5rem;
}

#workspaces {
  margin: 5px 0 5px 1rem;
  background-color: rgba(54, 58, 79, 0.5);
}

#workspaces button {
  padding: 0.5rem;
  color: @text;
}

#workspaces button.active {
  color: @lavender;
  background: @surface1;
  border-color: @mauve;
}

#workspaces button:hover {
  color: @lavender;
  background: @surface1;
  border-color: @surface0;
}

#workspaces button.urgent {
  color: @red;
}

#clock,
#pulseaudio,
#tray,
#language,
#custom-lock,
#cpu,
#memory,
#network,
#custom-power {
  margin: 5px 0;
  padding: 0.5rem 1rem;
  background-color: rgba(54, 58, 79, 0.5);
}

#window {
  margin: 5px 0;
  padding: 0.5rem 1rem;
  color: @blue;
}

#clock {
  color: @mauve;
  border-radius: 1.5rem;
}

#pulseaudio {
  margin-left: 1rem;
  color: @maroon;
  border-radius: 1.5rem 0 0 1.5rem;
}

#language {
  color: @lavender;
}

#custom-power {
  color: @red;
  margin-right: 1rem;
  border-radius: 0 1.5rem 1.5rem 0;
}

#network {
  color: @green;
}
