# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 1, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "none"
show_hidden    = true
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 75
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
edit = [
	{ run = "${EDITOR:-nvim} %s", desc = "$EDITOR",      for = "unix", block = true },
]
play = [
	{ run = "xdg-open %s1",    desc = "Play", for = "linux", orphan = true },
	{ run = "open %s",         desc = "Play", for = "macos" },
	{ run = 'start "" %s1',    desc = "Play", for = "windows", orphan = true },
	{ run = "termux-open %s1", desc = "Play", for = "android" },
	{ run = "mediainfo %s1; echo 'Press enter to exit'; read _", block = true, desc = "Show media info", for = "unix" },
	{ run = "mediainfo %s1 & pause", block = true, desc = "Show media info", for = "windows" },
]
pdf = [
    { run = "mupdf %s", desc = "MuPDF", for = "linux", orphan = true },
]
image = [
    { run = "imv %s", desc = "imv", for = "linux", orphan = true },
]

[open]
rules = [
	# PDF
   { mime = "application/pdf", use = [ "pdf", "reveal" ] },
  #Image
  { mime = "image/*", use = [ "image", "reveal" ] },
  # Media
	{ mime = "{audio,video}/*", use = [ "play", "reveal" ] },
]

[[plugin.prepend_fetchers]]
id  = "git"
url = "*"
run = "git"

[[plugin.prepend_fetchers]]
id  = "git"
url = "*/"
run = "git"
