
"$schema" = 'https://starship.rs/config-schema.json'

palette = 'catppuccin_mocha'

format = """
[┌────](fg:lavender)\
[](fg:base)\
$os\
$username\
[](bg:surface2 fg:base)\
$directory\
[](fg:surface2 bg:peach)\
$git_branch\
$git_status\
[](fg:peach bg:forest)\
$nodejs\
[](fg:forest bg:turquoise)\
$python\
$rust\
$golang\
$c\
$cpp\
[](fg:turquoise bg:pine)\
$conda\
[](fg:pine bg:snow)\
$time\
[ ](fg:snow)
[└─](fg:lavender)\
$character
"""
# -------------- TIME SCAN FILES -----

scan_timeout = 300

# -------------- TIME SCAN FILES -----

command_timeout = 1000

# ---------------- OS ----------------


[os]
disabled = false
style = "bg:base fg:text"

[os.symbols]
Windows = " "
Ubuntu = "󰕈 "
SUSE = " "
Raspbian = "󰐿 "
Mint = "󰣭 "
Macos = "󰀵 "
Manjaro = " "
Linux = "󰌽 "
Gentoo = "󰣨 "
Fedora = "󰣛 "
Alpine = " "
Amazon = " "
Android = " "
AOSC = " "
Arch = "󰣇 "
Artix = "󰣇 "
CentOS = " "
Debian = "󰣚 "
Redhat = "󱄛 "
RedHatEnterprise = "󱄛 "

# ---------------- USER ----------------

[username]
show_always = true
style_user = "bg:base fg:text"
style_root = "bg:base fg:red"
format = '[$user ]($style)'
disabled = false

# ---------------- DIRECTORY ----------------

[directory]
style = "bg:surface2 fg:text"
format = "[ $path ]($style)"
truncation_length = 1
truncation_symbol = '…/'

# ---------------- GIT ----------------

[git_branch]
symbol = " "
style = "bg:peach fg:crust"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "bg:peach fg:base"
format = '[$all_status$ahead_behind ]($style)'

# ---------------- LANGUAGES ----------------

[nodejs]
symbol = " "
style = "bg:forest fg:text"
format = '[ $symbol ($version) ]($style)'

[python]
symbol = " "
style = "bg:turquoise fg:text"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = " "
style = "turquoise fg:text"
format = '[ $symbol ($version) ]($style)'

[golang]
symbol = "⭘"
style = "bg:turquoise fg:text"
format = '[ $symbol ($version) ]($style)'

[c]
symbol = " "
style = "bg:turquoise fg:text"
format = '[ $symbol ($version) ]($style)'

[cpp]
disabled = false
style = "bg:turquoise fg:text"
format = '[ $name ($version) ]($style)'
# ---------------- CONDA ----------------

[conda]
symbol = " "
style = "bg:pine fg:text"
format = '[ $symbol $environment ]($style)'

# ---------------- TIME ----------------

[time]
disabled = false
time_format = "%R"
style = "bg:snow fg:text"
format = '[   $time ]($style)'

# --------------- CHARACTER ------------
[character]
error_symbol = '[✗](fg:red) '

# ---------------- THEMES --------------

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#FF5338"
yellow = "#f9e2af"
green = "#a6e3a1"
forest = "#005737"
pine = "#236123"
teal = "#94e2d5"
sky = "#89dceb"
turquoise= "#002F57"
snow = "#222242"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[palettes.catppuccin_frappe]
rosewater = "#f2d5cf"
flamingo = "#eebebe"
pink = "#f4b8e4"
mauve = "#ca9ee6"
red = "#e78284"
maroon = "#ea999c"
peach = "#ef9f76"
yellow = "#e5c890"
green = "#a6d189"
teal = "#81c8be"
sky = "#99d1db"
sapphire = "#85c1dc"
blue = "#8caaee"
lavender = "#babbf1"
text = "#c6d0f5"
subtext1 = "#b5bfe2"
subtext0 = "#a5adce"
overlay2 = "#949cbb"
overlay1 = "#838ba7"
overlay0 = "#737994"
surface2 = "#626880"
surface1 = "#51576d"
surface0 = "#414559"
base = "#303446"
mantle = "#292c3c"
crust = "#232634"

[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_macchiato]
rosewater = "#f4dbd6"
flamingo = "#f0c6c6"
pink = "#f5bde6"
mauve = "#c6a0f6"
red = "#ed8796"
maroon = "#ee99a0"
peach = "#f5a97f"
yellow = "#eed49f"
green = "#a6da95"
teal = "#8bd5ca"
sky = "#91d7e3"
sapphire = "#7dc4e4"
blue = "#8aadf4"
lavender = "#b7bdf8"
text = "#cad3f5"
subtext1 = "#b8c0e0"
subtext0 = "#a5adcb"
overlay2 = "#939ab7"
overlay1 = "#8087a2"
overlay0 = "#6e738d"
surface2 = "#5b6078"
surface1 = "#494d64"
surface0 = "#363a4f"
base = "#24273a"
mantle = "#1e2030"
crust = "#181926"
